
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>微信会议后台管理-登录</title>
    <link rel="stylesheet" type="text/css" href="~/Content/css/global.css?v=1" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/layout.css?v=1" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css?v=1" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js?v=1"></script>
    <script type="text/javascript" src="~/Scripts/admin/md5.js?v=1"></script>
    <script type="text/javascript" src="~/Scripts/admin/safelogin.js?v=1"></script>

    <style type="text/css">
        .sys-logo {
            display: none;
        }

        .error-message {
            display: none;
        }
    </style>

    <script type="text/javascript">
        if (top.location != self.location)
            top.location = self.location;


        safelogin.init('@Session["LoginRandomStr"]', '@Href("~/Admin/Main/UserLogin")',
            function (d) {
                location.href = '@Href("~/Admin/Main/MainIndex")';
            },
            function (d) {
                showErrMsg(d.txt);
            })

        @*var LoginRandomStr = '@Session["LoginRandomStr"]';*@

        function showErrMsg(txt) {
            $('.error-message cite:eq(1)').text(txt);
            $('.error-message').show();
        }

        function hideErrMsg() {
            $('.error-message').hide();
        }

        function login() {
            safelogin.login($('#usr').val(), $('#pwd').val());
        }

        $(function () {
            $('#usr, #pwd').bind('input', function () {
                hideErrMsg();
            });
        });
    </script>

</head>
<body>
    <div class="login-bg">
        <div class="login-con">
            <div class="sys-logo"></div>
            <div class="login-wrap">
                <div class="login-title">登录</div>
                <div class="error-message"><cite class="tip-ico text-c"></cite><cite>密码输入错误，请重新输入</cite></div>
                <ul class="login-form">
                    <li class="login-name"><cite class="sys-icon user-ico fl"></cite><div class="fl"><input id="usr" type="text" /></div> </li>
                    <li class="login-pass"><cite class="sys-icon pass-ico fl"></cite><div class="fl"><input id="pwd" type="password" /></div></li>
                </ul>
                <div class="login-btn"><a href="javascript:login()">登录</a></div>
                <div class="remember" style="display:none;"><input name="" type="checkbox" value="" /> 记住密码</div>
            </div>
        </div>
    </div>
</body>
</html>
