
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Scripts/weui/style/weui.css" rel="stylesheet" />
    <title>系统提示</title>
</head>
<body>
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">操作失败</h2>
            <p class="weui-msg__desc">对不起，系统正忙。您的操作暂时不能处理，请稍后再试！</p>
        </div>
    </div>
</body>
</html>








