<div class="surveycontext">
    <div class="surveyitem" style="display:none;">
        <div class="surveyitemtitle"><span class="surveyitemtitle_lable">标题</span><span class="surveyitemtitle_labletype">[单选]</span> <input type="text" class="input surveyitemtitle_labletext" value="" /><a class="surveyitem_del" href="javascript:void(0)">删除</a></div>
        <ul class="list-group list-striped">
            <li><div class="surveyliitem"><span class="surveyliitem_index">A</span><input type="text" class="input surveyli_input" value="" /> <a class="surveyli_button_add" href="javascript:void(0)">添加选项</a> <a class="surveyli_button_del" href="javascript:void(0)">删除</a></div></li>
        </ul>
        <!--
        <div class="surveyanswerdiv">
            <span class="surveyanswer_lable">正确答案</span>
            <select class="input surveyanswertitle_select">
            </select>
        </div>
        -->
    </div>
    <div class="surveytoolbar">
        <div class="button-toolbar">
            <div class="button-group">
                <button type="button" id="bt_radio" class="button icon-dot-circle-o text-blue">
                    单选
                </button>
                <button type="button" id="bt_multiple" class="button icon-check-square-o text-green">
                    多选
                </button>
                <button type="button" id="bt_text" class="button icon-file-text text-yellow">
                    问答
                </button>
            </div>
        </div>
    </div>
</div>
